<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Club Laço</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/index/styleIndex.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <div class="center">
      <div class="container">
        <h1>Seja Bem-Vindo!</h1>
        <button id="lacada" class="btn btn-outline-primary">Laçada</button>
        <button id="inscreve" class="btn btn-outline-secondary">Inscrever</button>
        <button id="verifica" class="btn btn-outline-success">Verificar equipe</button>
      </div>
    </div>
    <script src="../scripts/renderers/renderer.js"></script>
  </body>
  <footer><div>Desenvolvido Por Renan Lopes Obregon.</div></footer>
</html>